<!-- <section class="container">
    <h4 style="color: brown;">Interpolation</h4>

    <section>
        <p class="fw-bold">Mostrar atributos del TS al HTML</p>
        <p>Nombre: {{ nombre }}</p>
        <p>Mostrando el array datos: </p>
        <p>Nombre: {{ datos.nombre }}</p>
        <p>Apellido: {{ datos.apellido }} </p>
    </section>

    <section>
        <p class="fw-bold">Evaluando expresiones</p>
        <p>Total (185 * 25): {{ 185 * 25 }}</p>
        <p>Total (valor * 25): {{ valor * 25 }}</p>
    </section>
</section> -->